<%-include('../layouts/adminHead.ejs') %>

<form action=""   method="post" >
    <label for="head">Healine</label>
   <p><input  id="head" type="text" name="heading"   placeholder="do heading.... " ></p> 
<p>

    <textarea placeholder="Write anything about you..." name="about" id="aboutMe1" cols="100" rows="20"></textarea>

</p>    
<input type="submit" class="btn btn-outline-danger" >

</form>


<%-include('../layouts/footer.ejs') %>
