<%-include('../layouts/adminHead.ejs') %>

<form action=""   method="post" >
<p>

    <textarea placeholder="Write anything about you..." name="about" id="aboutMe1" cols="100" rows="20"></textarea>

</p>    
<input type="submit" class="btn btn-outline-danger" >

</form>


<%-include('../layouts/footer.ejs') %>
