<%-include('../layouts/adminHead.ejs') %>

<form action="" method="post" >


    <textarea placeholder="Write anything about you..." name="aboutMe1" id="about" cols="100" rows="20">edit something .......</textarea>


</form>


<%-include('../layouts/footer.ejs') %>